doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="theme")
    .page-ribbon
      .theme-selector-container
        label(for="theme-selector") Theme:
        select#theme-selector(name="theme")
          option(value="light-theme") Light
          option(value="dark-theme") Dark
          option(value="high-contrast-theme") High Contrast
    block content
    footer
      p &copy; #{new Date().getFullYear()} youList | vuluru, Inc | All Rights Reserved
    script(src="/javascripts/theme-switcher.js")
