extends layout

block content
    .auth-container
        h1 youList
        form(action="/login" method="POST")
            label(for="username") Username:
            input#username(type="text" name="username" required)

            label(for="password") Password:
            input#password(type="password" name="password" required)

            button(type="submit") Login

            // Right-aligned Register button
            .form-actions
                a.slim-register-button(href="/register") Register

            // Forgot Password link
            .account-access
                a.forgot-password-link(href="/forgot-password") Forgot Password
