extends layout

block content
    .auth-container
        h1
        form(action="/register" method="POST")
            .form-group
                label(for="firstName") First Name:
                input#firstName(type="text" name="firstName" required)

            .form-group
                label(for="username") Username:
                input#username(type="text" name="username" required)

            .form-group
                label(for="password") Password:
                input#password(type="password" name="password" required)

            button(type="submit") Register

        // Consistent "Back to Login" link
        a.back-to-login-link(href="/login") Back to Login
